* { /* reset */ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        html {
            width: auto;
            overflow-x: hidden;
            background-color: rgb(14, 23, 36);
            background-image: linear-gradient(153deg,
                    rgba(14, 23, 36, 1) 14%,
                    rgba(40, 64, 98, 1) 86%);
        }

        body {
            height: 100%;
            margin: 0;
            box-sizing: border-box;
            padding: 8px;
        }

        html, body {max-width: 100%;}

        .background-layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            display: inline-block;
            width: 100vw;
            height:100vh;
        }

 /*       .stars {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .stars:before, .stars:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url("stars.png");
            background-size: 100%;
            animation: slidex 2s infinite linear;
        }

        .stars:before {
            right:100%;
        } */
/*
        .stars:before, .stars:after {
            background-size: 100%;
            content: "";
        }

        .stars {
            height: 100%;
            width: auto;
            animation: slidex 2s linear infinite;
        }

        @keyframes slidex {
            from {
                transform: translateX(0);
            }

            to {
                transform: translateX(100%);
            }
        }  
*/
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;

        }

        li {
            float: right;
            font-size: 1.9em;
            border-width: 20px;
            border: rgba(0, 0, 0, 0);
            color: #dddddd;
            font-family: FashionFetishBold;
            margin-left: 10px;
        }

        li a {
            display: block;
            padding: 8px;
        }

        iframe {margin-top: 100vh; /* move everything down */}

        .presenter {
            text-align: center;
            font-size: 80px;
            position: absolute;
            line-height: 125%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .arrow {
            position: absolute;
            top: 85%;
            left: 45%;
            width: 10%;
            height: auto;
            animation: arrowBlink 2s infinite alternate;
        }


        .comet {
            font-family: FashionFetishOutline;
            color: #4db9ff;
            letter-spacing: 3px;
            animation: breathing 3s infinite;
            font-size: 1.5em;
            /* text-shadow: 0 0 4.8px rgba(56, 199, 235, 0.9); */
        }

        .bolder {
            font-family: FashionFetishBold;
        }

        .head-presenter, .textbox {
            font-family: FashionFetishReg;
        }

        .head-presenter {
            -webkit-text-stroke-width: 0.7px;
        }

        @font-face {
            font-family: FashionFetishOutline;
            src: url('https://files.catbox.moe/66j0zk.ttf');
        }

        @font-face {
            font-family: FashionFetishReg;
            src: url('https://files.catbox.moe/cpv2sr.ttf');
        } 

        @font-face {
            font-family: FashionFetishBold;
            src: url('https://files.catbox.moe/b01wz0.ttf');
        }

        .anipre {
            display: inline;
            animation: moving 0.9s ease-in-out infinite alternate;
            position: relative;
            color: #dddddd;
            font-size: 0.82em;
            margin-left: 13px;
        }

        .open {
            color:#eceff4;
            text-shadow: 0px 0px 8px #eceff4;
            animation: breathing2 2s infinite;
            font-size: 0.82em;
            margin-left: 13px;
        }

        @keyframes moving {
            0% {
                top: 0px;
            }

            100% {
                top: 10px;
            }

            /* {top: 1px;} */
        }

        @keyframes breathing {
            0% {
                text-shadow: 0 0 5px rgb(0, 204, 255);
            }

            50% {
                text-shadow: 0 0 10px rgb(0, 204, 255);
            }

            100% {
                text-shadow: 0 0 5px rgb(0, 204, 255);
            }
        }

        @keyframes breathing2 {
            0% {
                text-shadow: 0 0 5px #eceff4;
            }

            50% {
                text-shadow: 0 0 10px #eceff4;
            }

            100% {
                text-shadow: 0 0 5px #eceff4;
            }
        }

        @keyframes arrowBlink {
            from {opacity: 20%;}
            to {opacity: 60%;}
        }
        .container, .container2 {
            width: 100vw;
            height: 100vh;
            position: absolute;
            display: inline-block;
            z-index: -1;
        }

        .container2 {
            margin-top: 100vh;
        }

        .bg {
            position: absolute;
            overflow: hidden;
            margin:0px;
            width: 100vw;
            height:200vh;
        }

        .bg:before,
        .bg:after {
            content: "";
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-image: url("stars.png");
            background-size: 150%;
            animation: move 180s infinite linear;
            margin:0px;
        }

        .bg:before {
            right: 100%;
        }

        @keyframes move {
            from {
                transform: translateX(0%);
            }

            to {
                transform: translateX(100%);
            }
        }

        .textbox, .boxheader {
            width: 550px;
            margin-left: auto;
            margin-right: auto;
            color:#eceff4;
            font-size: 34px;
        }

        .textbox {
            text-align: left;
            width: 850px;
            font-size: 28px;
            line-height: 150%;
            word-spacing: 3px;
            font-style: italic;

        }

        .boxheader {
            font-size: 60px;
            margin-bottom: 80px;
        }

        ::-webkit-scrollbar {
            display:none;
          }
